<article itemscope itemtype="/vocab/user">
    <a itemprop="url" href="/users/<%= _id %>">Refresh</a>

    <dl>
        <dt>Username</dt>
            <dd itemprop="username"><%= username %></dd>
        <dt>Password</dt>
            <dd itemprop="password"><%= password %></dd>
    </dl>

    <section itemprop="CRUD" itemscope itemtype="/vocab/CRUD">
        <a itemprop="edit" href="#edit">Edit</a>
        <a itemprop="delete" href="#delete">Delete</a>

        <form name="edit" method="post" action="/users/<%= _id %>">
            <input type="text" name="username" value="<%= username %>" />
            <input type="text" name="password" value="<%= password %>" />
            <input type="submit"/>
        </form>
    </section>
</article>